.active {
    color: green;
    font-weight: bold;
}

.warning {
    color: blue;
}

.critical {
    color: red;
}

.hint {
    color: grey;
}

.hover {
    background-color: lightgrey;
}

table {
    border-collapse: collapse;
    width: 100%;
}

tr {
    border-bottom: 1px solid lightgrey;
}

th, td {
    text-align: left;
    padding: 10px 20px;
}
