<div *ngIf="order">
    <h4>Order #: {{order.id}}</h4>
    <p [ngClass]="{'critical': missingClient}">Client: {{client | fullName}}</p>
    <p>Address: {{order.address}}</p>
    <app-order-items-list
        [orderItems]="order.items"
        [books]="books">
    </app-order-items-list>
    <p>
      <button [disabled]="missingClient" (click)="completeOrder()">Complete order</button>
      <button (click)="back()">&lt; Back to list</button>
      <button class="critical" (click)="deleteOrder()">DELETE</button>
    </p>
</div>
