<button
    *ngIf="isAdminFeatureArea"
    (click)="addBook()">
  Add book
</button>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Rating</th>
      <th>Price</th>
      <th *ngIf="isAdminFeatureArea">Available</th>
    </tr>
  </thead>
  <tbody>
      <tr
          app-book-entry
          *ngFor="let book of books"
          [book]="book"
          [modifiedBook]="modifiedBook"
          [isAdminFeatureArea]="isAdminFeatureArea">
      </tr>
  </tbody>
</table>

<p *ngIf="!this.isAdminFeatureArea" class="hint">* Books with rating of 4.5 and higher are marked in bold.</p>
<p *ngIf="!this.isAdminFeatureArea" class="hint">* Books with rating of 2.5 and lower are greyed out.</p>
