<h2>LOGIN</h2>
<p>State: {{message}}</p>
<form (ngSubmit)="login()" *ngIf="!authService.isLoggedIn()">
  <div>
    <label for="user">Login as</label>
    <select
        id="user" name="user"
        required
        [(ngModel)]="loginUserId">
      <option [ngValue]="undefined">Please select user</option>
      <option
          *ngFor="let user of users"
          [ngValue]="user.id">
        {{user.fullName()}}
        {{user.isAdmin ? '(admin)' : ''}}
      </option>
    </select>
  </div>
  <p></p>
  <button type="submit" [disabled]="!loginUserId">Login</button>
</form>
<p *ngIf="authService.isLoggedIn()">
  <button (click)="logout()">Logout</button>
</p>
