<ul>
    <li
            *ngFor="let item of items; let idx = index" (click)="setCurrentItem(idx)"
            [ngClass]="{'current-item': idx === currentItemIdx}"
            class="finger">
        {{item}}
        <!-- <span *ngIf="idx === currentItemIdx">*</span> -->
    </li>
</ul>
<button (click)="moveItemUp()" [disabled]="!isItemSelected()">^ Up</button>
<button (click)="moveItemDown()" [disabled]="!isItemSelected()">v Down</button>
<button (click)="removeItem()" [disabled]="!isItemSelected()">X Remove</button>
